.hi {
  color: #1d1f21;
  color: #282a2e;
  color: #373b41;
  color: #969896;
  color: #b4b7b4;
  color: #c5c8c6;
  color: #e0e0e0;
  color: #ffffff;
  color: #cc6666;
  color: #de935f;
  color: #f0c674;
  color: #b5bd68;
  color: #8abeb7;
  color: #81a2be;
  color: #b294bb;
  color: #a3685a;
}
